$light-green: #b9e7e7;
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        .link{
            text-decoration: none;
            color: inherit;
        }
        .auth{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $light-green;
            h1{
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                width: 200px;
                gap: 20px;
                background-color: white;
                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray; 
                }
                button{
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }
                p{
                    font-size: 15px;
                    color: red;
                    text-align: center;
                }
                span{
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
        .navbar{
            .container{
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    width: 120px;   
                    font-weight: 700;
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }
                    span{
                        cursor: pointer;
                    }
                    .write{
                        background-color: $light-green;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover{
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }
        footer{
            margin-top: 100px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $light-green;
            font-size: 12px;
            .footerlogo{
                font-weight: 700;
            }
        }
        .home{
            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 90px;
                .post{
                    display: flex;
                    gap: 100px;
                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }
                    .img{
                        flex: 2;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: $light-green;
                            top: 20px;
                            left: -20px;
                            z-index:-1;
                        }
                        img{
                            max-height: 400px;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        input{
                            padding: 10px;
                            border: 1px solid lightgray;
                        }
                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            border: 1px solid teal;
                            color: teal;
                            cursor: pointer;
                            background-color: white;
                            &:hover{
                                border: 1px solid white;
                                background-color: $light-green;
                                color: black;
                            }
                        }
                        h1{
                            font-size: 48px;
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .single{
            display: flex;
            gap: 50px;
            .content{
                // box-shadow: 3px 3px 5px 2px rgb(0,0,0,0.5);
                // padding: 4px;
                display: flex;
                flex-direction: column;
                flex: 5;
                gap: 30px;
                img{
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                    }
                    .info{
                        span{
                            font-weight: bold;
                        }
                    } 

                    .edit{
                        display: flex;
                        
                        gap: 5px;
                        
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }

                }
                h1{
                    text-align: justify;
                }    
                p{
                    text-align: justify;
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .recommend{
                    white-space: nowrap;
                    text-align: center; 
                }
                .post{
                    border: 1px solid #e0dfdf;
                    border-radius: 5px;
                    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    overflow: hidden;
                    padding: 2px;
                    img{
                        height: 200px;
                        width: 100%;
                        object-fit: cover;
                    }
                    h2{
                        color: #555;
                    }
                    button{
                        width: max-content;
                        padding: 10px 20px;
                        border: none;
                        border: 1px solid teal;
                        color: teal;
                        cursor: pointer;
                        background-color: white;
                        &:hover{
                            border: 1px solid white;
                            background-color: $light-green;
                            color: black;
                        }
                    }
                }
            }
        }
        .add{
            margin-top: 20;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer{
                    height: 300px;  
                    overflow-y: hidden;
                    border: 1px solid lightgray;
                    
                    .editor{
                        height: 100%;
                        // border: none;
                    }
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .item{
                    flex: 1;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid lightgray;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;
                    h1{
                        font-size: 20px;
                    }
                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }
                    .cat{
                        display: flex;
                        align-items: center;
                        color: teal;
                        gap: 2px;
                    }
                }
                
            }
        }
    }
}
